
/** {
	outline: 1px solid red;
}*/

body {
	background: url(library.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}




#header {
	width: 100%;
	height: 80px;
	color: white;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 50px;
	background-color: hsla(0, 0%, 0%, 0.6);
	color: white;
}

#title {
	padding-top: 17px;
}

.bookmark {
	height: 39vh;
	width: 31%;
	float: left;
	border-radius: 20px;
	background-color: hsla(0, 0%, 0%, 0.15);
	margin-left: 2%;
	margin-top: 1%;
	transition: all 0.5s ease;
}

.bookmark:hover {
	background-color: hsla(0, 0%, 0%, 0.6);
	transition: all 0.5s ease;
}

#note {
	bottom: 0;
	height: 5vh;
	position: absolute;
	width: 100%;
	text-align: center;
	line-height: 40px;
	background-color: hsla(0, 0%, 0%, 0.6);
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

.info {
	height: 20%;
	width: 70%;
	margin-top: 5%;
	margin-left: 15%;
}

.login {
	height: 20%;
	width: 70%;
	margin-left: 15%;
}

/* LOGOS */

.logo {
	height: 30%;
	width: 50%;
	margin-top: 10%;
	margin-left: 25%;
	background: url(images/edmodo.png);
	background-size: contain;
	background-repeat: no-repeat;
}

#google > .logo {
	background: url(images/google.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 10%;
}

#ttm > .logo {
	background: url(images/ttm.png);
	background-size: contain;
	background-repeat: no-repeat;
}

#istation > .logo {
	background: url(images/istation.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 10%;
}

#thinkCentral > .logo {
	background: url(images/tc.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 10%;
}

#discoveryEd > .logo {
	background: url(images/disEd.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 10%;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	color: white;
}

.info > p {
	font-size: 20px;
	font-weight: 700;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}


